<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>首页</string>
		<key>tabbar</key>
		<string>tabbar_home@2x</string>
		<key>tabbar_h</key>
		<string>tabbar_home_selected</string>
		<key>controller</key>
		<string>HomeViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>消息</string>
		<key>tabbar</key>
		<string>tabbar_message_center</string>
		<key>tabbar_h</key>
		<string>tabbar_message_center_selected</string>
		<key>controller</key>
		<string>MessageViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>发现</string>
		<key>tabbar</key>
		<string>tabbar_discover</string>
		<key>tabbar_h</key>
		<string>tabbar_discover_selected</string>
		<key>controller</key>
		<string>DiscoverViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我</string>
		<key>tabbar</key>
		<string>tabbar_profile</string>
		<key>tabbar_h</key>
		<string>tabbar_profile_selected</string>
		<key>controller</key>
		<string>ProfileViewController</string>
	</dict>
</array>
</plist>
